.searchForm {
  display: flex;
  align-items: center;
  width: 450px;
  margin: 50px auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.searchFormWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.searchFormInput {
  width: 90%;
  height: 40px;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 0 10px;
}
.searchFormButton {
  width: 10%;
  height: 40px;
  margin: auto 0;
  border: 0;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff26;
  background-color: white;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
}
.searchFormButton:active {
  background-color: white;
}
